<h2>友だちリスト</h2>
<div class="row panel panel-primary" id="friends">
  <dl>
    <% friends_list.each do |user_id, created_at| %>
      <% user = users[user_id] %>
      <dt class="friend-date"><%= created_at %></dt><dd class="friend-friend"><a href="/profile/<%= user[:account_name] %>"><%= user[:nick_name] %></a></dd>
    <% end %>
  </dl>
</div>
